.bg-blue{
    background: linear-gradient(180deg, #007BFF 0%, #2A1E83 100%)!important;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radius-form{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius:24px;
    border-bottom-right-radius:24px;
}

.radius-none{
    border-radius: 0;
}
.bg-light{
    background-color: rgba(13, 202, 240, .08)!important;
}
.w-90{
    width: 90%;
}
.fs-12{
    font-size: 12px;
}
.w-60{
    width: 60px!important;
}
.p-20{
    padding: 20px;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.pt-0{
    padding-top: 0px;
}
.header-logo::after{
    content: none !important;
}
.justify-content-space-between{
    justify-content: space-between;
}
.page-error{
    background-color: #F3F3F5;
}
.carousel-caption {
    position: static;   
    padding-top: 0px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: white !important;
}
@media screen and (max-width: 991px) {
    .bg-blue {
        display: none !important;
    }
  }
  
  .sidebar-body .no_icon::after {
    content: "";
  
}
.nav-group .nav-label i {
    margin-right: 12px;
    line-height: 1;
    font-size: 20px;
    width: 18px;
    opacity: .85;
}
.nav-group .nav-label{
    font-size:0.875rem!important;
    align-items: center!important;
    display: flex!important;
    text-transform:none!important;
}